@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* Fonts */
  --font-primary: var(--font-manrope); 
  
  /* DIU Brand Colors */
  --color-diuBlue: #002652;
  --color-diugreen: #3fa753;
  --color-diutext: #2f2f2f;

  /* Example: custom sizing variables */
  --diu-font-size-base: 22px;
  --diu-heading-size: 36px;
}

/* Sizes */
.text-diuBase { font-size: 22px; }
.text-diuHeading { font-size: 36px; }

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fadeIn 0.2s ease-out;
}

@keyframes slideRight {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(10px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-right {
  animation: slideRight 0.2s ease-out;
}

.animate-slide-left {
  animation: slideLeft 0.2s ease-out;
}
.zIndex-9999 {
  z-index: 9999;
}